{% extends "statistics101/layout.html" %}

{% block body %}
<!-- Title of the page -->
<div>
    <div class="page-header">
        <p>Register</p>
    </div>
</div>


<!-- Registration form-->
<div class="page-body">
    <!-- Registration error message-->
    {% if message %}
    <div class="form-error">{{ message }}</div>
    {% endif %}
    <div class="form-group">
        <form action="{% url 'statistics101:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <!-- Form fields are defined in forms.py -->
                {{registrationform.as_p}}
                <button class="purple-pill">
                    Register
                </button>
        </form>

        <!-- Link to login template -->
        <p class="mt-3">Already have an account? <a href="{% url 'statistics101:login' %}" class="dark-link">Log
                In here.</a></p>

    </div>
</div>


{% endblock %}